<tr id='<%= dom_id favorite_list, :favorite %>'>
  	<td><%= favorite_list.name %></td>
  	<td><%= link_to 'Ver', favorite_list, class: 'btn btn-primary btn-xs' %></td>
  	<td><%= link_to 'Remover', favorite_path(favorite_list), { class: 'btn btn-danger btn-xs', method: :delete, remote: true, format: :js } %></td>
</tr>
