<li id='<%= dom_id task %>' ><%= task.description %>
	<%= button_to 'Remover', task, { class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' }, remote: true, format: :js }%>
</li>